<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="cam1" value="rtsp://192.168.8.103:554/user=admin&amp;password=&amp;channel=&amp;stream=.sdp?real_stream--rtp-caching=100" />
    <add key="cam2" value="rtsp://192.168.8.104:554/user=admin&amp;password=&amp;channel=&amp;stream=.sdp?real_stream--rtp-caching=100" />
    <add key="cam3" value="rtsp://192.168.8.105:554/user=admin&amp;password=&amp;channel=&amp;stream=.sdp?real_stream--rtp-caching=100" />
    <add key="cam4" value="rtsp://192.168.8.106:554/user=admin&amp;password=&amp;channel=&amp;stream=.sdp?real_stream--rtp-caching=100" />
    <add key="CheckDuration" value="00:00:10" />
    <add key="BlobContainerName" value="cctv" />
    <add key="BlobConn" value="DefaultEndpointsProtocol=https;AccountName=storagemurahaje;AccountKey=NU2f/5suzFgLyGYplR6ydXQ+6L8STLCRviDqJf+MS8bVWsO3L5VWFK3qaUltdPNwdd092st0eJWQIBvLI0WI1A==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>